

:root {

    /*  colors */
    --viridian-green: hsl(214, 95%, 9%);
    --cultured: hsla(220, 20%, 97%, 1);
  
    --granite-gray: hsl(0, 0%, 40%);
    --independence: hsl(219, 20%, 32%);
    --spanish-gray: hsl(0, 0%, 61%);
    --oxford-blue: hsl(222, 46%, 17%);
    --black-coral: hsl(223, 8%, 44%);
    --eerie-black: hsl(210, 11%, 15%);
    --light-gray: hsl(0, 0%, 80%);
    --white-2: hsl(0, 0%, 98%);
    --white-1: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --jet: hsl(0, 0%, 22%);

  
    /* typography */
  
    --ff-abril-fatface: 'Abril Fatface', cursive;
    --ff-comforter-brush: 'Comforter Brush', cursive;
    --ff-heebo: 'Heebo', sans-serif;
  
    --fs-1: 3.4rem;
    --fs-2: 3.2rem;
    --fs-3: 3rem;
    --fs-4: 2.4rem;
    --fs-5: 1.8rem;
    --fs-6: 1.7rem;
    --fs-7: 1.4rem;
    --fs-8: 1.2rem;
    --fs-9: 1.7rem;
  
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
  
    /*  border radius */
  
    --radius-6: 6px;
    --radius-pill: 100px;
  
    /*  spacing */
  
    --section-padding: 40px;
    --section-padding-1: 60px;
  
    /* transition */
    --transition: 0.25s ease;
    --transition-1: 0.15s ease;
    --transition-2: 0.35s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);
  
  }
  
  
  
  
  
  /* RESET */
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  span,
  input,
  button,
  ion-icon { display: block; }
  
  input,
  button {
    border: none;
    background: none;
    font: inherit;
  }
  
  button { cursor: pointer; }
  
  input { width: 100%; }
  
  img { height: auto; }
  
  address { font-style: normal; }
  
  :focus-visible { outline-offset: 5px; }
  
  html {
    font-family: var(--ff-heebo);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--white-1);
    font-size: 1.6rem;
  }
  
  ::-webkit-scrollbar { width: 10px; }
  
  ::-webkit-scrollbar-track { background: hsl(0, 0%, 95%); }
  
  ::-webkit-scrollbar-thumb { background: hsl(0, 0%, 80%); }
  
  ::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }
  
  
  
  
  
  /* REUSED STYLE */
  
  .container { padding-inline: 15px; }
  
  .btn {
    background: var(--background, var(--white-1));
    color: var(--color, var(--viridian-green));
    font-weight: var(--fw-700);
    width: max-content;
    padding: 10px 25px;
    border: 2px solid var(--border-color, var(--white-1));
    border-radius: var(--radius-6);
  }
  
  .btn-secondary:is(:hover, :focus) {
    --background: var(--viridian-green);
    --color: var(--white-1);
  }
  
  .btn-primary {
    --background: var(--viridian-green);
    --color: var(--white-1);
    --border-color: var(--viridian-green);
  }
  
  .btn-primary:is(:hover, :focus) {
    --background: transparent;
    --color: var(--viridian-green);
  }
  
  .btn-outline {
    --color: var(--oxford-blue);
    --border-color: var(--silver-chalice);
  }
  
  .btn-outline:is(:hover, :focus) {
    --color: var(--viridian-green);
    --border-color: var(--viridian-green);
  }
  
  .section { padding-block: var(--section-padding); }
  
  .section-subtitle {
    font-family: var(--ff-comforter-brush);
    color: var(--independence);
    font-size: var(--fs-3);
  }
  
  .w-100 { width: 100%; }
  
  .h2 {
    color: var(--jet);
    font-size: var(--fs-3);
    font-weight: var(--fw-500);
  }
  
  .h3 {
    font-size: var(--fs-4);
    font-weight: var(--fw-400);
  }
  
  .section-title { font-family: var(--ff-abril-fatface); }

  

  

  
  
  /*  HEADER */
  
  .header {
    background: var(--viridian-green);
    padding-block: 20px;
    height: 88px;
    overflow: hidden;
    transition: 0.25s var(--cubic-out);
  }
  
  .header.active {
    height: 425px;
    transition-duration: 0.35s;
  }
  
  .header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: var(--white-1);
    font-size: var(--fs-2);
    font-weight: var(--fw-600);
  }
  
  .nav-toggle-btn.active .open,
  .nav-toggle-btn .close { display: none; }
  
  .nav-toggle-btn .open,
  .nav-toggle-btn.active .close { display: block; }
  
  .nav-toggle-btn ion-icon {
    color: var(--white-1);
    font-size: 35px;
    --ionicon-stroke-width: 40px;
  }
  
  .navbar {
    width: 100%;
    padding: 20px 10px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
  }
  
  .header.active .navbar {
    opacity: 1;
    visibility: visible;
  }
  
  .navbar-list { margin-bottom: 15px; }
  
  .navbar-link {
    color: var(--white-1);
    font-size: var(--fs-5);
    font-weight: var(--fw-500);
    padding-block: 10px 0;
    border-bottom: 2px solid transparent;
    width: max-content;
  }
  
  .navbar-link:is(:hover, :focus) { border-color: var(--white-1); }

  
.hero {
    padding-block-start: calc(var(--section-padding) + 50px);
    background-color: var(--cultured);
  }
  
  .hero .container {
    margin-right: 30px;
    display: grid;
    gap: 50px;
  }
  
  .hero-banner {
    position: relative;
    max-width: max-content;
    margin-inline: auto;

  }

  .hero-banner .masked-image{
   
    width: 70%;
    height: 60%;
    border-radius: 50%;
  }

  /* only served over http and https */
  /* .masked-image{
    -webkit-mask-image: url("../images/Blog.svg");
    mask-image: url("../images/Blog.svg");
    mask-repeat: no-repeat;
  } */


  
  
  
  .hero-content { text-align: center; }
  
  .hero .section-text { margin-block: 24px 36px; }
  
  .btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  

/* ABOUT */

.about .wrapper {
  display: grid;
  gap: 50px;
  margin-block-end: 70px;
}

.progress-list .label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 4px;
}

.progress-item:not(:last-child) { margin-block-end: 16px; }

.progress {
  background-color: var(--raisin-black_a6);
  height: 6px;
  width: 100%;
  border-radius: var(--radius-pill);
  overflow: hidden;
}

.progress-fill { height: inherit; }

  
 
  
/* CONTACT */

.contact { background-color: var(--cultured); }

.contact-list { margin-block: 40px 50px; }

.contact-item:not(:last-child) { margin-block-end: 22px; }

.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-item ion-icon {
  color: var(--theme-color);
  font-size: 22px;
  flex-shrink: 0;
  --ionicon-stroke-width: 25px;
}

.contact-link {
  color: var(--black);
  font-family: var(--ff-poppins);
}

.input-field {
  color: var(--black);
  font-family: var(--ff-heebo);
  font-size: var(--fs-7);
  letter-spacing: 1.4px;
  border: 1px solid var(--black-coral);
  padding: 10px;
  margin-block-end: 30px;
  outline: none;
  transition: border var(--transition);
}

.input-field:focus { border-color: var(--black_30); }

textarea.input-field {
  resize: vertical;
  min-height: 45px;
  height: 45px;
  max-height: 100px;
}

.submit-btn {
  background-color: var(--independence);
  color: var(--white);
  width: 100%;
  font-size: var(--fs-9);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  transition: var(--transition);
}

.submit-btn:is(:hover, :focus) { background-color: var(--black); }

.submit-btn ion-icon { transition: var(--transition); }

.submit-btn:is(:hover, :focus) ion-icon { transform: rotate(-45deg); }



/* PORTFOLIO */

.portfolio {
  background-color: var(--maximum-yellow-red_a10);
  padding-block-start: calc(var(--section-padding-1) + 60px);
}

.port-title-center{
  text-align: center;
  padding-bottom: 20px;
}

.portfolio-list,
.portfolio-card { display: grid; }

.portfolio-list { gap: 50px; }

.portfolio-card { gap: 25px; }

.portfolio-card .card-banner {
  position: relative;
  border: 2px solid var(--jet);
  box-shadow: 0 0 0 var(--jet);
  transition: var(--transition);
}

.portfolio-card .card-banner:is(:hover, :focus-within) {
  box-shadow: 3px 3px 0 var(--jet);
}

.portfolio-card .btn-icon {
  position: absolute;
  top: 15px;
  left: 0;
  background-color: var(--white);
  color: var(--jet);
  font-size: 2rem;
  padding: 8px;
  border: 2px solid var(--jet);
  opacity: 0;
  transition: var(--transition);
  will-change: transform;
}

.portfolio-card .card-banner:is(:hover, :focus-within) .btn-icon {
  transform: translateX(15px);
  opacity: 1;
}

.portfolio-card .chip {
  background-color: var(--orange-red_a20);
  max-width: max-content;
  color: var(--jet);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 6px 20px;
  border-radius: var(--radius-pill);
  margin-block-end: 18px;
}

.portfolio-card .card-text { margin-block: 10px 25px; }








/* FOOTER */

.footer {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding-block: 30px;
}

.copyright { margin-block-end: 10px; }

.copyright-link { display: inline-block;
color: var(--white-1); }

.copyright-link:is(:hover, :focus) { text-decoration: underline; }

.social-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-link:is(:hover,:focus){
  color: var(--light-gray);
  scale: 1.2;
}

.social-link { 
  color: var(--white-1);
  font-size: 17px;
 }

  
  
  /* GO TO TOP */
  
  .go-top {
    position: fixed;
    bottom: 0;
    right: 15px;
    background: var(--viridian-green);
    color: var(--white-1);
    font-size: 20px;
    padding: 10px;
    border-radius: var(--radius-6);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-1);
  }
  
  .go-top.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(-15px);
  }
  
  .go-top:is(:hover, :focus) { transform: translateY(-25px); }
  
  
  
  
  
  /* RESPONSIVE */
  
   
  
  @media (min-width: 575px) {
 
  
    :root {
   
  
      --fs-1: 5rem;
      --fs-3: 4rem;
      --fs-8: 1.4rem;
  
    }
  
  }
  
 
  
  @media (min-width: 768px) {
 
  
    .container {
      max-width: 750px;
      margin-inline: auto;
    }

    
  .portfolio-card {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .portfolio-list > li:nth-child(2n) .card-banner { order: 1; }

  .portfolio-card > * {
    width: 80%;
    margin-inline: auto;
  }

  .portfolio-card .card-text { margin-block-start: 20px; }
   
    .footer .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .copyright { margin-block-end: 0; }


  }
  
  
 
  
  @media (min-width: 992px) {
 
    :root {
  
 
  
      --fs-2: 3.5rem;
      --fs-3: 4.4rem;
  
 
  
      --section-padding: 60px;
  
    }
   
  
    .container { max-width: 980px; }
  
    .popular-list,
    .blog-list { grid-template-columns: repeat(3, 1fr); }
  
   
  
    .nav-toggle-btn { display: none; }
  
    .header,
    .header.active { height: unset; }
  
    .navbar {
      all: unset;
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
  
    .navbar-list {
      margin-bottom: 0;
      margin-inline: auto;
      display: flex;
      align-items: center;
      gap: 30px;
    }
  
    .navbar-link {
      font-weight: var(--fw-700);
      margin-bottom: 8px;
    }
  


  .hero { padding-block-start: calc(var(--section-padding) + 80px); }

  .hero .container {
    grid-template-columns: 0.8fr 1fr;
    align-items: center;
    gap: 100px;
  }

  .hero-content { text-align: left; }

  .hero .btn-wrapper { justify-content: flex-start; }

  .about .wrapper {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }


  .contact .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 200px;
  }

  .contact-list { margin-block-end: 0; }
  
  }
  

  @media (min-width: 1200px) {
  
 
  
    :root {
  

      --fs-1: 6rem;
  
    }
  

  
    .container { max-width: 1150px; }
  

    .navbar-list { gap: 50px; }

  
  }

  
@media (min-width: 1400px) {

  
    .container,
    .header { max-width: 1320px; }

    .hero .container { grid-template-columns: 1fr 0.8fr; }
  
    .hero .section-text { --fs-5: 2.4rem; }

    .about .wrapper { gap: 100px; }

  
  }